/* @import url('https://db.onlinewebfonts.com/c/4c4a87973ef80fc72049e01b9085fadc?family=ABC+Diatype'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "ABC Diatype"; */
    font-family: "Poppins", sans-serif;
}



header{
    padding: 54px 35px;
}

.navi_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


h2{
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.main-log{
    max-width: 37px;
    display: flex;
}


.logo{
    display: flex;
    align-items: center;
    position: fixed;
    gap: 20px;
}

ul, li{
    display: flex;
    gap: 13px;
    padding: 4px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(243, 242, 242);
}

li, a{
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
}





.btns{
    position: fixed;
    right:20px;
}

.btn-1{
    width: 70px;
    padding: 3.5px;
    border: 1px grey;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
    
}
.btn-2{
    width: 120px;
    padding: 6px;
    border: 1px grey;
    border-radius: 8px;
    background-color: black;
    color: #fff;
     font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}


.section02{
    padding-left: 95px;
    margin-top: 140px;
}

.heading {
    font-size: 40px;
    letter-spacing: -.029em;
    font-family: ABC Diatype, sans-serif;
    font-weight: 400;
    line-height: .98;
}


#ic{
    display: flex;
    margin-top: 6px;
}


 .double-content{
    display: flex;
    column-gap: 180px;
 }

.left-side{
    width:30%;
    margin-top: 40px;
}

.four-para{
    display: flex;
    flex-direction: column;
    gap: 35px;
}



.para1, .para2, .para3, .para4{
    display: flex;
    gap: 25px;
    justify-content: center;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
}

.company{
    margin-top: 40px;
}

.logo-element{
    max-width: 10%;

}



.right-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.two-element{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 500;
    align-items: center;
}


.paragraphy{
    font-weight: 300;
    margin: 0 30px 0 30px
}


.logo-element{
    display: flex;
    justify-content: center;
    align-items: center;
}



form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


input, select{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid grey;
}


form{
    margin-top: 40px;
}


button{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid grey;
}


.radio{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
}

.button{
    padding: 8px;
    border-radius: 20px;
    background-color:#3e7f5c;
    color: #fff;
    border: 1px solid grey;
}


.footer{
    padding: 20px;
    margin: 35px;
    margin-top: 85px;
    border-radius: 10px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.footerlogo{
    max-width: 25%;
}


.lists{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.para-head{
    font-size: 13px;
    color: rgb(167, 162, 162);
}


.icons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 200px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align:left;
}

.para-heading{
    font-weight: 600;
}



.footer-list p:hover{
    background-color: rgb(235, 230, 230); 
    border-radius: 8px;
    cursor: pointer;
}

input[type="radio"] {
  accent-color: green;
}

#error-email, #error-company, #error-drop, #error-select{
    font-size: 10px;
    color: red;
}


@media (min-width:320px) and (max-width:425px){

    header {
        padding: 30px 5px;
    }



   .section02 {
        margin-top: 70px;
        padding-left: 15px;
    }

    .heading {
        font-size: 32px;
    }

    .left-side{
        width: 122%;
    }

    .double-content{
        display: flex;
        flex-direction: column;
    }

    .company {
        margin-top: 40px;
        max-width: 300px;
    }

    .right-side {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 119%;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }


    .logo-element {
       max-width: 20%;
    }


    .lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        font-size: 10px;
        gap: 25px;
    }
    .icons {
        display: flex;
        gap: 12px;
        justify-content: flex-end;  
        margin-top: 130px;
    }
    .para1, .para2, .para3, .para4{
        display: flex;
        gap: 15px;
        font-size: 15px;
        justify-content: center;
    }


    .footer{
        position: relative;
        margin: 20px;
        min-width: 110%;
    }

    
    .logo-footer {
        position: absolute;
        bottom: 0px;
        width: 40%;
    }

}
@media (min-width: 768px) and (max-width:1000px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 10px;
    }

    .li, a {
        font-size: 12px;
    }

    .btns {
        position: fixed;
        right: 16px;
    }

    .btn-2{
        width: 96px;
        padding: 6px;
        font-size: 13px;
    }


    .section02{
        padding-left: 45px;
    }

    .double-content {
        display: flex;
        flex-direction: column;
    }

    .left-side{
        width: 57%;
    }

    .right-side{
        margin-top: 85px;
        width: 95%;
    }


    .footer{
        height: 400px;
    }

    .para-head {
        font-size: 12px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;
    }

    .lists{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        font-size: 10px;
    }
}

.hamburger-menu{
    display: none;
    width: 70px;
    padding: 3.5px;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}



#radio{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:800px){
    header{
        display: none;
    }
    .navi_bar{
        display: none;
    }
    .mobile-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-nav_link ul{
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
      
    }
}