/* @import url('https://db.onlinewebfonts.com/c/4c4a87973ef80fc72049e01b9085fadc?family=ABC+Diatype'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "ABC Diatype"; */
    font-family: "Poppins", sans-serif;
}



.navi_bar{
    display: flex;
    padding: 15px;
    flex-direction: column;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 30px;
    height: auto;
}
.logo h1{
    font-size: 37px;
}
.hamburger-menu{
    background-color: black;
    color: white;
    outline: none;
}
.mobile_navbar-navlinks{
    padding: 15px;
    gap: 5px;
    height: 0px;
    padding-top: 1.0rem;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.98);
    transition: opacity 0.5s, transform 0.5s;
}
.mobile_navbar-navlinks-open{
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.mobile_navbar-navlinks ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.0rem;
}
.arrow-image-navbar{
    width: 10px;
    height: 10px;
}
.platform-navlink-section{
    display: flex;
    align-items: center;
}
.mobile_navbar-navlinks li,.mobile_navbar-navlinks a{
    list-style: none;
    text-decoration: none;
    color: black;
    width: 90%;
}
.nav-login_demo-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 3.5rem;
}
.btn-1{
    background-color:white;
    color: black;
    order: 2;
}
.btn-2{
    background-color: black;
    color: white;
    order: 1;
}


.nav_link-lanscape,.btns{
    display: none;
}
.section02{
    padding-left: 95px;
    margin-top: 140px;
}

.heading {
    font-size: 40px;
    letter-spacing: -.029em;
    font-family: ABC Diatype, sans-serif;
    font-weight: 400;
    line-height: .98;
}


#ic{
    display: flex;
    margin-top: 6px;
}


 .double-content{
    display: flex;
    column-gap: 180px;
 }

.left-side{
    width:30%;
    margin-top: 40px;
}

.four-para{
    display: flex;
    flex-direction: column;
    gap: 35px;
}



.para1, .para2, .para3, .para4{
    display: flex;
    gap: 25px;
    justify-content: center;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
}

.company{
    margin-top: 40px;
}

.logo-element{
    max-width: 10%;

}



.right-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.two-element{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 500;
    align-items: center;
}


.paragraphy{
    font-weight: 300;
    margin: 0 30px 0 30px
}


.logo-element{
    display: flex;
    justify-content: center;
    align-items: center;
}



form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


input, select{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid grey;
}


form{
    margin-top: 40px;
}


button{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid grey;
}


.radio{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
}

.button{
    padding: 8px;
    border-radius: 20px;
    background-color:#3e7f5c;
    color: #fff;
    border: 1px solid grey;
}


.footer{
    padding: 20px;
    margin: 35px;
    margin-top: 85px;
    border-radius: 10px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.footerlogo{
    max-width: 25%;
}


.lists{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.para-head{
    font-size: 13px;
    color: rgb(167, 162, 162);
}


.icons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 200px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align:left;
}

.para-heading{
    font-weight: 600;
}





.footer-list p:hover{
    background-color: rgb(235, 230, 230); 
    border-radius: 8px;
    cursor: pointer;
}

input[type="radio"] {
  accent-color: green;
}

#error-email, #error-company, #error-drop, #error-select{
    font-size: 10px;
    color: red;
}


@media (min-width:320px) and (max-width:799px){


   .section02 {
        margin-top: 70px;
        padding-left: 15px;
    }

    .heading {
        font-size: 32px;
    }

    .left-side{
        width: 97%;
    }

    .double-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .company {
        margin-top: 40px;
        max-width: 300px;
    }

    .right-side {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 97%;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }


    .logo-element {
       max-width: 20%;
    }


    .lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        font-size: 10px;
        gap: 25px;
    }
    .icons {
        display: flex;
        gap: 12px;
        justify-content: flex-end;  
        margin-top: 130px;
    }
    .para1, .para2, .para3, .para4{
        display: flex;
        gap: 15px;
        font-size: 15px;
        justify-content: center;
    }


    .footer{
        position: relative;
        margin: 35px 10px 10px 10px;
        min-width: 95%;
    }

    
    .logo-footer {
        position: absolute;
        bottom: 0px;
        width: 40%;
    }

}
@media (min-width: 768px) and (max-width:1000px){


    .section02{
        padding-left: 45px;
    }

    .double-content {
        display: flex;
        flex-direction: column;
    }

    .left-side{
        width: 57%;
    }

    .right-side{
        margin-top: 85px;
        width: 95%;
    }


    .footer{
        height: 400px;
    }

    .para-head {
        font-size: 12px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;
    }

    .lists{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        font-size: 10px;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .button{
        width: 20%;
    }
}

.footer-list p{
    font-size: 15px;
}


#radio{
    display: flex;
    flex-direction: column;
}
.scroll-lock {
    overflow: hidden; 
}


@media screen and (min-width:1001px){
    .hamburger-menu,.mobile_navbar-navlinks{
        display: none;
    }
    .navi_bar{
        display: flex;
        gap: 2.0rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.0rem 3.5rem 2.0rem 3.0rem;
        position: fixed;
        top: 0;
        z-index: 100000;
        width: 100%;
    }
    
    .logo{
        min-width: 10%;
    }
    .nav_link-lanscape{
        display: flex;
        align-items: center;
        min-width: 70%;
    }
    .nav_link-lanscape ul{
        display: flex;
        align-items: center;
        background-color: gainsboro;
        padding: 5px;
        border-radius: 5px;
        gap: 2.0rem;

    }
    .nav_link-lanscape li,.nav_link-lanscape a{
        text-decoration: none;
        list-style: none;
        color: black;
    }
    .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.0rem;
        justify-content: flex-end;
    }
    .btn-1{
        order: 1;
        align-self: flex-end;
    }
    .btn-2{
        order: 2;
       width: 100px;
       align-self: flex-end;
    }
}

.heading-logo-hidden{
        display: none;
  }
    .heading-logo-visible{
        display: inline;
}

.replace-logo-hidden{
    display: none;
}
.replace-logo-visible{
    display: inline;
}

